.intro__title {
  font-size: 54px;
  margin-bottom: 24px;
  line-height: 1.07;
  padding-top: 92px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.intro__description {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-bottom: 30px;
  line-height: 1.41;
}

.intro__author cite {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 1.41;
  color: #ffffff;
}

.intro__text p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 163%;
}
