.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  max-width: 1184px;
  margin: 0 auto;
  gap: 16px;
}
.photo-grid__image {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .photo-grid {
    padding: 0 24px;
  }
}
@media (max-width: 544px) {
  .photo-grid {
    padding: 0 16px;
  }
}
